
<app-header></app-header>
<br>
<hr>

<div class="container">

  <button (click)="getRandomDescription()" class="btn btn-success"> Get Random Meals Description</button>
  <br>
  <br>


  <div class="row">

    @for( m of meals;track meals.id){
         <app-meals class="col-md-4" [Meal]="m">

            <!-- use ng-container to no add a extra element in the document  -->
            <!-- <ng-container *ngTemplateOutlet="blankImage; context:{description:Course.description}">
            </ng-container> -->
         <img class="card-img-top" #mealImgs [src]="m.Image" alt="Card image cap">
        </app-meals>
      }

  </div>
</div>


<router-outlet />
